html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  background-color: azure;
}

body {
  margin: 0;
  width: 100%;
}

.main-image img {
  width: auto;
  height: 30rem;
}

.site-container {
  width: 100%;
  position: relative;
  bottom: 30rem;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 1rem;
}

.banner {
  width: 53.3rem;
  height: 3rem;
  font-size: 1rem;
  background-color: cadetblue;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  display: flex;
}

li {
  display: inline;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.slogan {
  width: auto;
  position: absolute;
  top: 13rem;
  left: 50%;
  justify-content: center;
  background-color: white;
  padding-top: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1.5rem;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}

.exams,
.fittings,
.delivery {
  text-align: center;
  padding-right: 6rem;
}

.exams img {
  width: 3.5rem;
}

.fittings img,
.delivery img {
  width: 5rem;
}

.middle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.philosophy,
.appointments {
  width: 35%;
}

.philosophy {
  padding-right: 5%;
}

.philosophy h3,
.appointments h3 {
  background-color: cadetblue;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: auto;
  margin-bottom: 1rem;
}

footer {
  margin-top: 9rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
  display: flex;
  position: absolute;
  top: 59rem;
  align-items: center;
}

footer img {
  padding-right: 1rem;
  height: 1.5rem;
}

/*Tablet media queries*/

@media only screen and (max-width: 1024px) {
  .main-image {
    height: 22rem;
  }

  .site-container {
    margin: 0;
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .slogan {
    top: 10rem;
    margin-right: 2rem;
    width: inherit;
  }

  .slogan h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .about,
  .middle {
    position: relative;
    top: 8rem;
  }
}

@media only screen and (max-width: 414px) {
  .main-image {
    height: 17rem;
  }

  .site-container {
    width: 100%;
    justify-content: center;
  }

  .logo p {
    display: none;
  }
}
