html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  background-color: azure;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.top-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-mobile {
  display: none;
}

.large-img {
  display: flex;
}

.large-img img {
  height: 30rem;
  width: 100%;
}

nav {
  display: flex;
  position: absolute;
  top: 1rem;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  width: 960px;
}

nav .header {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

ul li {
  display: inline;
  flex-direction: row;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.slogan {
  display: flex;
  position: absolute;
  top: 10rem;
  left: 43%;
  background-color: white;
}

.slogan h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.services {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  height: 8rem;
  margin-bottom: 3rem;
}

.services p {
  text-align: center;
}

.exams {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 6rem;
  justify-content: space-around;
}

.fittings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 6rem;
  justify-content: space-around;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.exams img {
  width: 3.5rem;
}

.fittings img {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}

.middle {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  margin-bottom: 9rem;
}

.philosophy {
  padding-right: 5%;
}

.philosophy,
.appointments {
  display: flex;
  width: 35%;
  flex-direction: column;
}

.philosophy h3,
.appointments h3 {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.philosophy p,
.appointments p {
  margin-top: 1rem;
}

.footer {
  display: flex;
  padding-left: 4rem;
  padding-bottom: 4rem;
  align-items: center;
}

.footer img {
  padding-right: 1rem;
  height: 1.5rem;
}

@media screen and (max-width: 1024px){

  nav {
    width: 100%;
    position: absolute;
    top: 0;
  }

  .large-img img {
    height: 22rem;
    width: 100%;
  }

  .slogan {
    position: absolute;
    top: 10rem;
  }

  .slogan h1 {
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    padding: 0.75rem 4rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 752px) {

  body {
    background-position: 20%;
    width: 100%;
  }

  .top-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .large-img img {
    width: 100%;
    height: 17rem;
    padding-bottom: 3.77rem;
  }

  .slogan {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 12rem;
    left: 0rem;
  }

  .slogan h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .top-desktop {
    display: none;
  }

  .top-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .header img,
  .header a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.77rem;
    padding-top: 3.77rem;
    width: 100%;
    height: auto;
  }

  .services p {
    font-size: 0.77rem;
  }

  .exams,
  .fittings,
  .deliver {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .exams p,
  .fittings p {
    padding-bottom: 1.54rem;
  }

  .exams p,
  .fittings p {
    padding-bottom: 1.54rem;
  }

  .middle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .philosophy,
  .appointments {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .philosophy h3,
  .appointments h3 {
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
  }

  .philosophy p,
  .appointments p {
    font-size: 0.77rem;
    padding-bottom: 4rem;
    width: 100%;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .footer p {
    display: none;
  }
}
